<div class="container mt-4 mb-4">
  <div class="card shadow-lg">
    <div class="card-header bg-dark text-white">
      <h4 class="mb-0">Category List</h4>
    </div>
    <div class="card-body table-responsive">
      <table
        mat-table
        [dataSource]="userData"
        class="mat-elevation-z8 table table-striped table-bordered"
      >
        <!-- Title Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created at</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
        </ng-container>

        <!-- Created By Column -->
        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>Updated by</th>
          <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
        </ng-container>

        <!-- Deleted By Column -->
        <ng-container matColumnDef="deleted_at">
          <th mat-header-cell *matHeaderCellDef>Deleted by</th>
          <td mat-cell *matCellDef="let element">{{ element.deleted_at }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
