<footer class="bg-indigo text-white py-3 mt-auto border-top">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Left side: Copyright -->
    <div>
      <p class="mb-0">&copy; 2025 Yasir Todo. All Rights Reserved.</p>
    </div>

    <!-- Right side: Social Media Links -->
    <div>
      <a
        href="https://github.com/yasiramri"
        target="_blank"
        class="text-white text-decoration-none mx-2"
      >
        <i class="bi bi-github"></i> GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/yasiramri"
        target="_blank"
        class="text-white text-decoration-none mx-2"
      >
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a
        href="mailto:yasiramrr@hotmail.com"
        class="text-white text-decoration-none mx-2"
      >
        <i class="bi bi-envelope"></i> Gmail
      </a>
    </div>
  </div>
</footer>
